---
layout: default
description: "Mastering the Craft of Coding"
---

<div class="home col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">

  <ul class="post-list">
    {% for post in site.posts %}
      <div class="post-preview">
        <a href="{{ post.url | prepend: site.baseurl }}">
            <h2 class="post-title">
              {{ post.title }}
            </h2>
            {% if post.subtitle %}
            <h3 class="post-subtitle">
                {{ post.subtitle }}
            </h3>
            {% endif %}
        </a>
        <p class="post-meta">Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}</p>
      </div>
      <hr>
    {% endfor %}
  </ul>

</div>
